@import "elements.less";

* {
  .box-sizing(border-box);
}

.clear {
  clear: both;
}

.italic {
  font-style: italic;
}
.text-right {
  text-align: right;
}

p {
  margin-bottom: 1em;
}

a {
  color: #5d305c;
  &:hover {
    text-decoration: none;
  }
}

input[type="text"] {
  border: 3px solid #b7a5aa;
  background: #fff;
  width: 100%;
  height: 33px;
  line-height: 33px;
  .rounded(19px);
  padding: 0 10px 0 20px;
  font: 22px 'pf_din_text_comp_prolight';
  color: #5d305c;
}

body {
  background: #fff;
  width: 980px;
  margin: 0 auto;
  font-family: 'pf_din_text_comp_prolight';
  &.main {
    header {
      background: none;
    }
  }
}

h1 {
  font: 28px pf_din_text_comp_prolight;
  color: #5d305c;
  text-align: center;
}
h2 {
  font: 22px/18px pf_din_text_comp_prolight;
  color: #5d305c;
}

header {
  position: relative;
  height: 175px;
  z-index: 10;
  background: url("../images/header_back.png") center bottom no-repeat;
  .logo {
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -107px;
    z-index: 10;
  }
  .top_nav {
    font-size: 0;
    position: absolute;
    top: 111px;
    left: 25px;
    &.have-active {
      &>ul>li>a {
        color: #e4dfe4;
      }
      &>ul>li.active>a {
        color: #5d305c;
      }
    }
    &>ul {
      &>li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-left: 50px;
        &:first-child {
          margin-left: 0;
        }
        &:nth-child(2) {
          margin-right: 252px;
        }
        &:hover {
          &>a {
            color: #fff !important;
            background: url("../images/top_nav_back.png");
          }
          &>ul {
            display: block;
          }
        }
        &>a {
          font: 27px/27px 'pf_din_text_comp_prolight';
          text-align: center;
          color: #5d305c;
          text-decoration: none;
          display: block;
          height: 64px;
          padding: 15px 35px;
          .border-radius(20px, 0, 0, 20px);
        }
        &>ul {
          display: none;
          background: url("../images/top_nav_back.png");
          .border-radius(0, 20px, 20px, 0);
          padding: 25px 0 35px;
          width: 100%;
          position: absolute;
          font-size: 10px;
          &>li {
            &:hover {
             &>a {
               background: #c48bc0;
             }
            }
            &>a {
              text-align: center;
              display: block;
              font: 20px/35px 'pf_din_text_comp_prolight';
              color: #fff;
              text-decoration: none;
              padding: 0 3px;
            }
          }
        }
      }
    }
  }
}

.slider {
  position: relative;
  z-index: 0;
  .rsOverflow {
    .rounded(20px);
  }
  .rsSlide {
    img {
      .rounded(20px);
    }
  }
  .rsNav {
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 43px;
    font-size: 0;
  }
  .rsNavItem {
    display: inline-block;
    margin-left: 10px;
    span {
      width: 11px;
      height: 11px;
      background: #fff;
      .rounded(11px);
      display: block;
    }
    &.rsNavSelected {
      span {
        background: #864580;
      }
    }
  }
  .slide_caption {
    color: #fff;
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 470px;
    text-shadow: 1px 1px 2px black; // добавил для лучшей читаемости текста на светлых фонах, недочет дизайнера
    .head {
      font: 51px/45px 'pf_din_text_comp_proXTh';
      margin-bottom: 15px;
    }
    .text {
      font: 14px 'pf_din_text_comp_proregular';
    }
  }
}

.slider2_back {
  background: #fffbec;
  .rounded(20px);
  padding: 15px 15px 15px 25px;
  height: 570px;
  &>* {
    display: inline-block;
    vertical-align: top;
  }
  .options {
    margin-right: 20px;
    width: 130px;
    height: 515px;
    position: relative;
    ul {
      a {
        color: #afafaf;
        font: 19px 'pf_din_text_comp_prolight';
        display: block;
        position: relative;
        &:hover {
          color: #6a3767;
        }
        &.selected {
          color: #6a3767;
          &:before {
            content: "";
            position: absolute;
            left: -17px;
            top: 8px;
            width: 10px;
            height: 10px;
            background: #864580;
            .rounded(10px);
          }
        }
      }
    }
    .copyrights {
      position: absolute;
      bottom: 5px;
      color: #969596;
      font-size: 14px;
      line-height: 18px;
      a {
        color: #864580;
      }
    }
  }
  .slider-vert {
    width: 570px;
    .rsSlide  {
      width: 378px;
      height: 512px;
      img {
        .rounded(20px);
      }
    }
    .rsNav {
      margin: -9px 0 0 0;

      height: 525px;
    }
    .rsNavItem {
      display: block;
      float: none;
      margin-bottom: 9px !important;
      img {
        .rounded(12px);
      }
    }
  }
  .bottom {
    display: block;
    a {
      color: #969596;
      font-size: 19px;
    }
    &>* {
      display: inline-block;
      vertical-align: top;
    }
    .share42init {
      margin: 0 160px 0 286px;
      padding: 3px 0 0;
    }
  }
}

.content {
  .content_block_prev {
    border-bottom: 3px dashed #c9a1cb;
    .head {
      color: #5d305c;
      font: 27px/45px pf_din_text_comp_prolight;
    }
    .image {
      margin-bottom: 15px;
      img {
        display: block;
        .rounded(20px);
        max-width: 100%;
        height: 150px;
        text-overflow: ellipsis;
      }
    }
    .text {
      font: 11px/15px 'Tahoma';
      margin-bottom: 20px;
      height: 60px;
      overflow: hidden;
    }
    .link {
      float: right;
      display: block;
      background: url("../images/preview_link.png");
      width: 36px;
      height: 36px;
      margin-bottom: 10px;
    }
  }
  .recommend {
    h2 {
      margin-bottom: 40px;
    }
    .item {
      margin-bottom: 20px;
      .head {
        background: #e3d7e2;
        font-size: 18px;
        line-height: 24px;
        color: #5d305c;
        padding-left: 12px;
        .rounded(10px);
        width: 135px;
        margin-bottom: 3px;
      }
      .text {
        color: #000;
        font: 11px/14px 'tahoma';
        margin-bottom: 10px;
      }
      .image {
        img {
          width: 100%;
          height: auto;
          .rounded(5px);
        }
      }
      .link {
        display: block;
        color: #000;
        font: 11px/14px 'tahoma';
        text-align: right;
      }
    }
  }
}

.all_elements {
  height: 208px;
  padding: 20px 0;
  border: 2px dashed #c9a1cb;
  border-left: 0;
  border-right: 0;
  position: relative;
  margin: 35px 0 65px;
  .head {
    color: #864580;
    font-size: 19px;
    position: absolute;
    background: #fff;
    padding: 0 45px 0 10px;
    top: -10px;
  }
  .carousel {
    margin-left: 2px;
    position: relative;
    .carousel-frame {
      height: 166px !important;
    }
    .carousel-slide {
      width: 180px !important;
    }
    .carousel-nav {
      position: absolute;
      top: 64px;
      right: -47px;
      width: 36px;
      height: 36px;
      background: url("../images/preview_link.png") no-repeat;
      font-size: 0;
    }
    .carousel-nav:first-child {
      right: auto;
      left: -47px;
      .rotation(180deg);
    }
    img {
      .rounded(12px);
    }
  }
  .link {
    color: #864580;
    font-size: 19px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -50px;
    text-transform: uppercase;
  }
}

.portfolio {
  font-size: 0;
  margin-left: -20px;
  .item {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 18px 16px;
  }
}

.actions {
  .item {
    padding-top: 20px;
    &>* {
      display: inline-block;
      vertical-align: top;
    }
    .image {
      width: 180px;
      max-width: 100%;
      text-align: center;
    }
    .inner {
      text-align: center;
      width: 550px;
      margin: 0 20px;
      padding-bottom: 35px;
      border-bottom: 2px dashed #c9a1cb;
      .head {
        color: #693666;
        font-size: 24px;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 5px;
      }
      .info {
        color: #000;
        font: italic 12px 'tahoma';
        margin-bottom: 25px;
      }
      .text {
        font: 12px 'tahoma';
        color: #000;
        margin-bottom: 7px;
      }
      .link {
        font-size: 18px;
        color: #693666;
      }
    }
  }
}

.production {
  .item {
    position: relative;
    margin-bottom: 40px;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -285px;
      bottom: -20px;
      width: 570px;
      border-bottom: 2px dashed #C9A1CB;
    }
    .head_image {
      margin-bottom: 10px;
    }
    .text {
      font: 12px 'tahoma';
      color: #000;
    }
  }
}

.contacts {
  .head {
    font-size: 28px;
    color: #5d305c;
    text-align: center;
    margin-bottom: 10px;
  }
  .item {
    margin: 15px 0 20px;
    position: relative;
    font-size: 19px;
    color: #5d305c;
    padding-top: 6px;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      margin-left: -285px;
      bottom: -13px;
      width: 570px;
      border-bottom: 2px dashed #C9A1CB;
    }
    &:last-child:before {
      border: 0;
    }
    img {
      max-width: 100%;
      .rounded(20px);
    }
    .col-xs-1 {
      text-decoration: underline;
    }
  }
  .saloon_address {
    background: #fffbec;
    position: relative;
    .rounded(20px);
    padding: 3px 0 15px;
    .phones {
      text-align: right;
      position: absolute;
      top: 44px;
      left: 154px;
      text-decoration: underline;
      .phone {
        font-size: 31px;
        text-decoration: none !important;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: -7px;
          background: url("../images/phone.png");
          width: 38px;
          height: 38px;
        }
      }
    }
  }
}

.blog {
  position: relative;
  padding-top: 5px;
  .left-col {
    .search {
      .head {
        font-size: 22px;
        color: #5d305c;
        text-align: center;
      }
      input[type="text"] {
        margin: 7px 0 5px;
      }
      input[type="image"] {
        margin-left: 5px;
      }
    }
    .tag_list {
      padding: 5px 5px 5px 25px;
      a {
        color: #864580;
        font-size: 14px;
        display: block;
        margin-bottom: 4px;
      }
    }
  }
  .center-col {
    .item {
      text-align: center;
      position: relative;
      margin-bottom: 13px;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -200px;
        bottom: 0;
        width: 400px;
        border-bottom: 2px dashed #C9A1CB;
      }
      &:last-child:before {
        border: 0;
      }
      .head {
        font-size: 22px;
        color: #5d305c;
        text-decoration: underline;
        margin-bottom: 5px;
      }
      .date {
        color: #5d305c;
        font-size: 18px;
        text-decoration: underline;
        margin-bottom: 23px;
      }
      .text {
        font: 12px/18px 'tahoma';
      }
      .image {
        max-width: 100%;
        margin-bottom: 5px;
      }
      .tags {
        margin-bottom: 8px;
        a {
          font-size: 12px;
          color: #5d305c;
        }

      }
      .comment_link {
        font-size: 18px;
        display: block;
      }
      .share42init {
        display: inline-block;
      }
    }
  }
  .right-col {
    .head {
      font-size: 18px;
      color: #5d305c;
      text-align: center;
      text-decoration: underline;
      margin-bottom: 10px;
    }
    .calendar {
      margin: 0 0 20px 15px;
    }
    .publ_list {
      padding: 0 0 0 21px;
      .item {
        margin-bottom: 1em;
        a>* {
          display: block;
        }
        .date {
          font-size: 18px;
        }
        .text {
          font-size: 14px;
        }
      }
    }
  }
  .yellow_back {
    .rounded(20px);
    background: #fffbec;
    width: 790px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -3px;
    z-index: 0;
  }
}

.price_list {
  width: 100%;
  margin-top: 2px;
  td {
    vertical-align: middle;
    text-align: center;
    width: 20%;
  }
  .text {
    font-size: 18px;
    color: #5d305c;
    text-decoration: underline;
    margin-top: 8px;
  }
  tr.table_head {
    td {
      background: #edd7e7;
      font-size: 29px;
      color: #5d305c;
    }
    &.type1 {
      td {
        &:first-child {
          .border-radius(0, 0, 50px, 50px);
        }
        &:last-child {
          .border-radius(50px, 50px, 0, 0);
        }
      }
    }
    &.type2 {
      td {
        line-height: 50px;
        .rounded(25px);
        text-align: left;
        padding: 0 17px;
        border-bottom: 4px solid #fff;
        &>* {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  tr.two-cols {
    td {
      font-size: 26px;
      color: #5d305c;
      height: 50px;
      &.left {
        text-align: right;
        padding: 0 10px;
        background: #faf3f8;
        .border-radius(0, 0, 25px, 25px);
        border-right: 2px dashed #fff;
        border-bottom: 4px solid #fff;
        font-size: 18px;
        color: #5d305c;
        text-decoration: underline;
      }
      &.right {
        .border-radius(25px, 25px, 0, 0);
        background: #faf3f8;
        border-bottom: 4px solid #fff;
      }
    }
  }
  tr.basic_tr {
    td {
      font-size: 26px;
      color: #5d305c;
      border-right: 2px dashed #fff;
      border-bottom: 4px solid #fff;
      background: #faf3f8;
      height: 50px;
    }
    td:first-child {
      border: 0;
      background: none;
      padding-right: 10px;
      .text {
        font-size: 18px;
        color: #5d305c;
        text-decoration: underline;
        display: block;
        margin-bottom: 8px;
        margin-top: 0;
      }
    }
    td.first{
      background: #faf3f8;
      .border-radius(0, 0, 25px, 25px);
      border-right: 2px dashed #fff;
      border-bottom: 4px solid #fff;
    }
    td.last {
      border: 0;
      border-bottom: 4px solid #fff;
      .border-radius(25px, 25px, 0, 0);
    }
    td.last ~ td {
      background: 0;
    }
    td.i-blocks-inside {
      &>* {
        display: inline-block !important;
        vertical-align: middle !important;
        margin-bottom: 0 !important;
      }
      .text {
        max-width: 125px;
      }
    }
  }
  .pull-right {
    text-align: right;
  }
  tr.hr {
    &.type1 {
      div {
        height: 35px;
        width: 290px;
        margin:  0 auto;
        background: url("../images/header_back.png") left center no-repeat;
      }
    }
    &.type2 {
      div {
        height: 50px;
        width: 100%;
        background: url("../images/hr2.png") center left repeat-x;
      }
    }
    &.type3 {
      div {
        height: 50px;
        width: 100%;
        background: url("../images/hr3.png") center left repeat-x;
      }
    }
    &.type4 {
      div {
        height: 10px;
        width: 100%;
        background: url("../images/hr3.png") center left repeat-x;
      }
    }
  }
  .ico {
    display: inline-block;
    width: 48px;
    height: 48px;
    .rounded(24px);
    text-align: center;
    background: #521d56;
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    &.ico-big {
      width: 96px;
      height: 96px;
      .rounded(48px);
    }
    &.ico-bigger {
      width: 115px;
      height: 115px;
      .rounded(58px);
    }
    &.ico-yellow {
      background: #ffc390;
      margin-right: 15px;
    }
    &.ico-sun {
      width: 166px;
      height: 116px;
      background: url('../images/price_icons.png') no-repeat;
      background-position: -1px -0px; width: 116px; height: 117px;
    }
  }
  .small_capt {
    font-size: 18px;
    line-height: 24px;
    color: #5d305c;
    background: #e3d7e2;
    .rounded(12px);
    padding: 0 20px;
    margin: 10px 0;
    display: inline-block;
  }

}

// sprite

.ico-48 i, .ico-38 i, .ico-39 i, .ico-35 i, .ico-36 i,
.ico-3 i, .ico-40 i, .ico-2 i, .ico-1 i, .ico-34 i,
.ico-41 i, .ico-49 i, .ico-30 i, .ico-42 i, .ico-32 i,
.ico-31 i, .ico-50 i, .ico-11 i, .ico-12 i, .ico-13 i,
.ico-45 i, .ico-29 i, .ico-46 i, .ico-47 i, .ico-43 i,
.ico-44 i, .ico-23 i, .ico-19 i, .ico-28 i, .ico-27 i,
.ico-14 i, .ico-7 i, .ico-6 i, .ico-33 i, .ico-5 i,
.ico-22 i, .ico-17 i, .ico-25 i, .ico-24 i, .ico-15 i,
.ico-18 i, .ico-26 i, .ico-16 i, .ico-21 i, .ico-20 i {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  background: url('../images/price_icons.png') no-repeat;
}

.ico-48 i { background-position: -1px -0px; width: 116px; height: 117px; }
.ico-38 i { background-position: -1px -118px; width: 114px; height: 115px; }
.ico-39 i { background-position: -1px -234px; width: 88px; height: 87px; }
.ico-35 i { background-position: -1px -322px; width: 61px; height: 86px; }
.ico-36 i { background-position: -1px -409px; width: 62px; height: 86px; }
.ico-3 i { background-position: -1px -496px; width: 62px; height: 86px; }
.ico-40 i { background-position: -1px -583px; width: 70px; height: 79px; }
.ico-2 i { background-position: -1px -663px; width: 61px; height: 76px; }
.ico-1 i { background-position: -63px -322px; width: 45px; height: 74px; }
.ico-34 i { background-position: -64px -409px; width: 45px; height: 74px; }
.ico-41 i { background-position: -1px -740px; width: 97px; height: 72px; }
.ico-49 i { background-position: -1px -813px; width: 71px; height: 71px; }
.ico-30 i { background-position: -1px -885px; width: 59px; height: 66px; }
.ico-42 i { background-position: -1px -952px; width: 99px; height: 59px; }
.ico-32 i { background-position: -61px -885px; width: 54px; height: 55px; }
.ico-31 i { background-position: -1px -1012px; width: 66px; height: 52px; }
.ico-50 i { background-position: -63px -663px; width: 53px; height: 52px; }
.ico-11 i { background-position: -64px -484px; width: 50px; height: 50px; }
.ico-12 i { background-position: -68px -1012px; width: 48px; height: 48px; }
.ico-13 i { background-position: -68px -1061px; width: 47px; height: 48px; }
.ico-45 i { background-position: -64px -535px; width: 47px; height: 47px; }
.ico-29 i { background-position: -1px -1110px; width: 69px; height: 47px; }
.ico-46 i { background-position: -1px -1158px; width: 47px; height: 47px; }
.ico-47 i { background-position: -49px -1158px; width: 48px; height: 47px; }
.ico-43 i { background-position: -1px -1206px; width: 47px; height: 47px; }
.ico-44 i { background-position: -49px -1206px; width: 47px; height: 47px; }
.ico-23 i { background-position: -72px -583px; width: 35px; height: 46px; }
.ico-19 i { background-position: -73px -813px; width: 33px; height: 45px; }
.ico-28 i { background-position: -71px -1110px; width: 38px; height: 45px; }
.ico-27 i { background-position: -1px -1254px; width: 33px; height: 45px; }
.ico-14 i { background-position: -35px -1254px; width: 33px; height: 45px; }
.ico-7 i { background-position: -1px -1065px; width: 33px; height: 37px; }
.ico-6 i { background-position: -90px -234px; width: 24px; height: 36px; }
.ico-33 i { background-position: -69px -1254px; width: 34px; height: 35px; }
.ico-5 i { background-position: -72px -630px; width: 41px; height: 30px; }
.ico-22 i { background-position: -69px -1290px; width: 36px; height: 28px; }
.ico-17 i { background-position: -63px -716px; width: 38px; height: 19px; }
.ico-25 i { background-position: -73px -859px; width: 38px; height: 19px; }
.ico-24 i { background-position: -1px -1300px; width: 36px; height: 19px; }
.ico-15 i { background-position: -38px -1319px; width: 36px; height: 19px; }
.ico-18 i { background-position: -1px -1339px; width: 49px; height: 19px; }
.ico-26 i { background-position: -75px -1319px; width: 38px; height: 19px; }
.ico-16 i { background-position: -51px -1339px; width: 38px; height: 19px; }
.ico-21 i { background-position: -1px -1320px; width: 36px; height: 18px; }
.ico-20 i { background-position: -63px -397px; width: 36px; height: 8px; }

.share42init {
  text-align: right;
  padding: 15px;
  a {
    .rounded(16px);
  }
}