@import "elements.less";

* {
  .box-sizing(border-box);
}

body {
  background: #fff;
  width: 980px;
  margin: 0 auto;
}

header {
  position: relative;
  height: 175px;
  z-index: 10;
  .logo {
    position: absolute;
    left: 50%;
    top: 25px;
    margin-left: -107px;
  }
  .top_nav {
    font-size: 0;
    position: absolute;
    top: 111px;
    left: 25px;
    &>ul {
      &>li {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-left: 50px;
        &:first-child {
          margin-left: 0;
        }
        &:nth-child(2) {
          margin-right: 255px;
        }
        &:hover {
          &>a {
            color: #fff;
            background: url("../images/top_nav_back.png");
          }
          &>ul {
            display: block;
          }
        }
        &>a {
          font: 27px/27px 'pf_din_text_comp_prolight';
          text-align: center;
          color: #5d305c;
          text-decoration: none;
          display: block;
          height: 64px;
          padding: 15px 35px;
          .border-radius(20px, 0, 0, 20px);
        }
        &>ul {
          display: none;
          background: url("../images/top_nav_back.png");
          .border-radius(0, 20px, 20px, 0);
          padding: 25px 0 35px;
          width: 100%;
          position: absolute;
          font-size: 10px;
          &>li {
            &:hover {
             &>a {
               background: #c48bc0;
             }
            }
            &>a {
              text-align: center;
              display: block;
              font: 20px/35px 'pf_din_text_comp_prolight';
              color: #fff;
              text-decoration: none;
              padding: 0 3px;
            }
          }
        }
      }
    }
  }
}

.slider {
  position: relative;
  z-index: 0;
  .rsOverflow {
    .rounded(20px);
  }
  .rsSlide {
    img {
      .rounded(20px);
    }
  }
  .rsNav {
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 43px;
    font-size: 0;
  }
  .rsNavItem {
    display: inline-block;
    margin-left: 10px;
    span {
      width: 11px;
      height: 11px;
      background: #fff;
      .rounded(11px);
      display: block;
    }
    &.rsNavSelected {
      span {
        background: #864580;
      }
    }
  }
  .slide_caption {
    color: #fff;
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 470px;
    text-shadow: 1px 1px 2px black; // добавил для лучшей читаемости текста на светлых фонах, недочет дизайнера
    .head {
      font: 51px/45px 'pf_din_text_comp_proXTh';
      margin-bottom: 15px;
    }
    .text {
      font: 14px 'pf_din_text_comp_proregular';
    }
  }
}